<h1><%= t('.achievements')%></h1>
<br>
<%= link_to t('.all_badges'), badges_path%>
<div class="container col-12 col-md-8  ">
  <table class="table table-hover table-bordered">
    <thead>
      <tr class="table-success text-center">
        <th colspan="2">
          <%= t('.title')%>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @user_badges %>
    </tbody>
  </table>
</div>