<h1>Gists</h1>

<div class=" col-12 col-md-6 container">
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="table-success text-center">
          <th scope="col"><%= t('.question') %></th>
          <th scope="col"><%= t('.gist_url') %></th>
          <th scope="col"><%= t('.user_email') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @gists%>
      </tbody>
    </table>
</div>
