<% if test_passage.time_left != Float::INFINITY%>
  <%= content_tag :div, class: 'timer col-12 col-md-6', data:{time_left: test_passage.time_left} do %>
    <h3 class='time'></h3>
    <%= link_to 'result', result_test_passage_path(test_passage), class: 'to_result'%>
  <%end%>
<%end%>