<h1><%= t( '.completed', test: @test_passage.test.title)%> </h1>

<%if  @test_passage.test_success?%>
  <p class='success'> <%= t('.success', user: current_user.username, result: @test_passage.test_result)%></p>
<%else%>
	<p class='fail'><%= t('.fail', user: current_user.username, result: @test_passage.test_result)%></p>
<%end%>

<p><%= link_to t('.back'), tests_path%></p>