<footer>
<h4>About author</h4>
<h5>skrepkoed</h5>
<p>
	TestGuru это приложение позволяющее создавать, проходить и управлять тестами на различную тематику, а также публиковать результаты тестов в соцсетях. В приложении предусмотрены роли Пользователя и Администратора и разграничение прав доступа на основе этих ролей. Тесты могут создаваться только Администраторами. TestGuru разрабатывается в рамках курса онлайн-школы <a href="https:/thinknetica.com" target="_blank">Thinknetica</a> 
</p>
<br>
<p>Github: <%=github_url('skrepkoed', 'TestGuru')%></p>
<p><%=current_year%></p>
</footer>