<tr class="text-center ">
	<td class="align-middle"><%= test.title%></td>
	<td class="align-middle"><%= test.level%></td>
	<td class="align-middle"><%= button_to t('.start'), start_test_path(test), class: "btn btn-success" %></td>
</tr>